* {
    margin: 0;
}

.fotoPerfil {
    margin: 40px 18%;
    border-radius: 50%;
    border: 2px solid rgb(204, 173, 240);
}

h1 {
    color:rgb(1, 0, 3);
    text-align:center;
    font-family:Cambria;
    margin-top: 45px;
    background-color: rgb(221, 213, 230);
}

.tituloDados {
    text-align: center;
    text-transform: uppercase;
}

.info {
    color: rgb(1, 0, 3);
    text-align: center;
    font-family: Cambria;
    display: flex;
    margin-left: 10px;
    margin-bottom: 16px;
    align-items: center;
}

.descricao {
    font-size: 14px;
    margin: 10px;
    color:rgb(26, 26, 26);
}

.subtitulo {
    color:rgb(26, 26, 26);
    position: relative;
    left: 10px;
    font-family: Cambria;
    font-size: 16px;
    margin-top: 25px;
}

.blocoInfo {
    color:rgb(26, 26, 26);
    left: 30px;
    text-align: justify;
    font-family: Cambria;
    margin: 12px;
    line-height: 23px;
}

.blocoInfos {
    color:rgb(1, 0, 3);
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: Cambria;
    font-size: 16px;
    line-height: 40px;
}

.blocoInfos2 {
    color:rgba(1, 0, 3, 0.67);
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: Cambria;
    font-size: 16px;
    line-height: 40px;
}

.blocoInfos1 {
    color:rgba(1, 0, 3, 0.445);
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: Cambria;
    font-size: 16px;
    line-height: 40px;
}

.Icone1 {
    color:rgb(1, 0, 3);
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: Cambria;
    font-size: 16px;
    line-height: 40px;
}

.Icone2 {
    color:rgba(1, 0, 3, 0.67);
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: Cambria;
    font-size: 16px;
    line-height: 40px;
}

body {
    background-color: rgb(204, 173, 240);
    margin: 10px 0;
    min-height: 927.8px;
}

.principal {
    background-color: whitesmoke;
    margin: 0 300px;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 70%;
    box-shadow: 6px 6px 6px rgba(130, 109, 153, 0.699);
}

.ladoEsquerdo {
    background-color:rgb(133, 83, 191);
}

.ladoDireito {
    background-color: whitesmoke;
}

.link{
    color:#000000;
}

.name {
    margin-top: -45px;
}

button {
    position: relative;
    left: 420px;
    top: -34px;
    padding: 8px 16px;
    border-radius: 55px 80px;
    background:rgb(245, 244, 250);
    font-family: Cambria;
    font-size: 10px;
}

button:hover {
    background: rgba(237, 236, 242, 0.926);
}

.progress-bar {
    height: 10px;
    font-size: 12px;
    align-items: center;
    display: flex;
    background-color: rgb(214, 169, 214);
    font-family: Cambria;
  }

.progress {
    background-color: rgba(70, 28, 70, 0.815);
    margin: 1px 250px 5px 20px;
}